/**
 * Boss
 */
.unit_adenna {
    background-image: url('../../../public/images/boss/adenna.jpg');
}

.unit_arek {
    background-image: url('../../../public/images/boss/arek.jpg');
}

.unit_borneo {
    background-image: url('../../../public/images/boss/borneo.jpg');
}

.unit_demitras {
    background-image: url('../../../public/images/boss/demitras.jpg');
}

.unit_eligor {
    background-image: url('../../../public/images/boss/eligor.jpg');
}

.unit_depzibah {
    background-image: url('../../../public/images/boss/gepzibah.jpg');
}

.unit_hikari {
    background-image: url('../../../public/images/boss/hikari.jpg');
}

.unit_kadaf {
    background-image: url('../../../public/images/boss/kadaf.jpg');
}

.unit_kadencia {
    background-image: url('../../../public/images/boss/kadencia.jpg');
}

.unit_kaingort {
    background-image: url('../../../public/images/boss/kaingort.jpg');
}

.unit_kallistar {
    background-image: url('../../../public/images/boss/kallistar.jpg');
}

.unit_kavri {
    background-image: url('../../../public/images/boss/kavri.jpg');
}

.unit_kerolin {
    background-image: url('../../../public/images/boss/kerolin.jpg');
}

.unit_lesdanra {
    background-image: url('../../../public/images/boss/lesdanra.jpg');
}

.unit_liksis {
    background-image: url('../../../public/images/boss/liksis.jpg');
}

.unit_luk {
    background-image: url('../../../public/images/boss/luk.jpg');
}

.unit_magdalena {
    background-image: url('../../../public/images/boss/magdalena.jpg');
}

.unit_regicide {
    background-image: url('../../../public/images/boss/regicide.jpg');
}

.unit_rukuyk {
    background-image: url('../../../public/images/boss/rukuyk.jpg');
}

.unit_sagas {
    background-image: url('../../../public/images/boss/sagas.jpg');
}

.unit_shektur {
    background-image: url('../../../public/images/boss/shektur.jpg');
}

.unit_tatsumi {
    background-image: url('../../../public/images/boss/tatsumi.jpg');
}

.unit_vanaah {
    background-image: url('../../../public/images/boss/vanaah.jpg');
}

.unit_zamasal {
    background-image: url('../../../public/images/boss/zamasal.jpg');
}

.unit_zes {
    background-image: url('../../../public/images/boss/zes.jpg');
}


/**
 * Units
 */
.unit_alchemist {
    background-image: url('../../../public/images/unit/alchemist.jpg');
}

.unit_archer {
    background-image: url('../../../public/images/unit/archer.jpg');
}

.unit_assasin {
    background-image: url('../../../public/images/unit/assassin.jpg');
}

.unit_berserk {
    background-image: url('../../../public/images/unit/berserk.jpg');
}

.unit_double {
    background-image: url('../../../public/images/unit/double.jpg');
}

.unit_dragon-mage {
    background-image: url('../../../public/images/unit/dragon-mage.jpg');
}

.unit_healer {
    background-image: url('../../../public/images/unit/healer.jpg');
}

.unit_hunter {
    background-image: url('../../../public/images/unit/hunter.jpg');
}

.unit_illusionist {
    background-image: url('../../../public/images/unit/illusionist.jpg');
}

.unit_knight {
    background-image: url('../../../public/images/unit/knight.jpg');
}

.unit_lord {
    background-image: url('../../../public/images/unit/lord.jpg');
}

.unit_midget {
    background-image: url('../../../public/images/unit/midget.jpg');
}

.unit_mystic {
    background-image: url('../../../public/images/unit/mystic.jpg');
}

.unit_oracle {
    background-image: url('../../../public/images/unit/oracle.jpg');
}

.unit_paladin {
    background-image: url('../../../public/images/unit/paladin.jpg');
}

.unit_pristess {
    background-image: url('../../../public/images/unit/priestess.jpg');
}

.unit_pyrotechnist {
    background-image: url('../../../public/images/unit/pyrotechnist.jpg');
}

.unit_scientist {
    background-image: url('../../../public/images/unit/scientist.jpg');
}

.unit_stalker {
    background-image: url('../../../public/images/unit/stalker.jpg');
}

.unit_summoner {
    background-image: url('../../../public/images/unit/summoner.jpg');
}

.unit_talisman {
    background-image: url('../../../public/images/unit/talisman.jpg');
}

.unit_tamplier {
    background-image: url('../../../public/images/unit/tamplier.jpg');
}

.unit_vampir {
    background-image: url('../../../public/images/unit/vampir.jpg');
}

.unit_warrior {
    background-image: url('../../../public/images/unit/warrior.jpg');
}

.unit_witch {
    background-image: url('../../../public/images/unit/witch.jpg');
}
