@import './unit.background';

.unit {
    display: inline-block;
    height: 224px;
    width: calc(32% - 10px);
    cursor: pointer;
    background-size: 100% 100%;
    margin: 5px;
    font-size: 23px;
    vertical-align: middle;
    position: relative;

    transition: 0.3s all;

    &:hover:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, .3);
    }

    &.unit_disabled {
        opacity: 0.5;
    }
}

.unit__attack {
    position: absolute;
    right: 25px;
    top: 10px;
    text-align: center;
    text-shadow: 0 0 2px #fff;
    width: 30px;
    height: 30px;
    line-height: 25px;
    display: inline-block;
    color: red;
    background-image: url('../../../public/images/sword.png');
    background-size: 100% 100%;
}

.unit__health {
    position: absolute;
    right: 0;
    top: 10px;
    text-align: center;
    text-shadow: 0 0 2px #fff;
    width: 30px;
    height: 30px;
    line-height: 25px;
    display: inline-block;
    color: blue;
    background-image: url('../../../public/images/shild.png');
    background-size: 100% 100%;
}
