/**
 * Base
 */
.unit_clear_first {
    background-image: url('../../../public/images/blue.jpg');
}

.unit_clear_second {
    background-image: url('../../../public/images/red.jpg');
}

/**
 * Boss
 */
.unit_adenna {
    background-image: url('../../../public/images/boss/adenna.png');
}

.unit_arek {
    background-image: url('../../../public/images/boss/arek.png');
}

.unit_borneo {
    background-image: url('../../../public/images/boss/borneo.png');
}

.unit_demitras {
    background-image: url('../../../public/images/boss/demitras.png');
}

.unit_eligor {
    background-image: url('../../../public/images/boss/eligor.png');
}

.unit_depzibah {
    background-image: url('../../../public/images/boss/gepzibah.png');
}

.unit_hikari {
    background-image: url('../../../public/images/boss/hikari.png');
}

.unit_kadaf {
    background-image: url('../../../public/images/boss/kadaf.png');
}

.unit_kadencia {
    background-image: url('../../../public/images/boss/kadencia.png');
}

.unit_kaingort {
    background-image: url('../../../public/images/boss/kaingort.png');
}

.unit_kallistar {
    background-image: url('../../../public/images/boss/kallistar.png');
}

.unit_kavri {
    background-image: url('../../../public/images/boss/kavri.png');
}

.unit_kerolin {
    background-image: url('../../../public/images/boss/kerolin.png');
}

.unit_lesdanra {
    background-image: url('../../../public/images/boss/lesdanra.png');
}

.unit_liksis {
    background-image: url('../../../public/images/boss/liksis.png');
}

.unit_luk {
    background-image: url('../../../public/images/boss/luk.png');
}

.unit_magdalena {
    background-image: url('../../../public/images/boss/magdalena.png');
}

.unit_regicide {
    background-image: url('../../../public/images/boss/regicide.png');
}

.unit_rukuyk {
    background-image: url('../../../public/images/boss/rukuyk.png');
}

.unit_sagas {
    background-image: url('../../../public/images/boss/sagas.png');
}

.unit_shektur {
    background-image: url('../../../public/images/boss/shektur.png');
}

.unit_tatsumi {
    background-image: url('../../../public/images/boss/tatsumi.png');
}

.unit_vanaah {
    background-image: url('../../../public/images/boss/vanaah.png');
}

.unit_zamasal {
    background-image: url('../../../public/images/boss/zamasal.png');
}

.unit_zes {
    background-image: url('../../../public/images/boss/zes.png');
}


/**
 * Units
 */
.unit_alchemist {
    background-image: url('../../../public/images/unit/alchemist.png');
}

.unit_archer {
    background-image: url('../../../public/images/unit/archer.png');
}

.unit_assassin {
    background-image: url('../../../public/images/unit/assassin.png');
}

.unit_berserk {
    background-image: url('../../../public/images/unit/berserk.png');
}

.unit_double {
    background-image: url('../../../public/images/unit/double.png');
}

.unit_dragon-mage {
    background-image: url('../../../public/images/unit/dragon-mage.png');
}

.unit_healer {
    background-image: url('../../../public/images/unit/healer.png');
}

.unit_hunter {
    background-image: url('../../../public/images/unit/hunter.png');
}

.unit_illusionist {
    background-image: url('../../../public/images/unit/illusionist.png');
}

.unit_knight {
    background-image: url('../../../public/images/unit/knight.png');
}

.unit_lord {
    background-image: url('../../../public/images/unit/lord.png');
}

.unit_midget {
    background-image: url('../../../public/images/unit/midget.png');
}

.unit_mystic {
    background-image: url('../../../public/images/unit/mystic.png');
}

.unit_oracle {
    background-image: url('../../../public/images/unit/oracle.png');
}

.unit_paladin {
    background-image: url('../../../public/images/unit/paladin.png');
}

.unit_priestess {
    background-image: url('../../../public/images/unit/priestess.png');
}

.unit_pyrotechnist {
    background-image: url('../../../public/images/unit/pyrotechnist.png');
}

.unit_scientist {
    background-image: url('../../../public/images/unit/scientist.png');
}

.unit_stalker {
    background-image: url('../../../public/images/unit/stalker.png');
}

.unit_summoner {
    background-image: url('../../../public/images/unit/summoner.png');
}

.unit_talisman {
    background-image: url('../../../public/images/unit/talisman.png');
}

.unit_tamplier {
    background-image: url('../../../public/images/unit/tamplier.png');
}

.unit_vampir {
    background-image: url('../../../public/images/unit/vampir.png');
}

.unit_warrior {
    background-image: url('../../../public/images/unit/warrior.png');
}

.unit_witch {
    background-image: url('../../../public/images/unit/witch.png');
}
